<div id="checkinContainer">
<h1><%=title%> / <%=date%> </h1>
<label for="memberName">Member Name:</label>
<input type="text" id="memberName" />
<input type="button" value="Check In" id="checkinButton" />
<input type="hidden" value="-1" id="checkinEvent" />
<h2>CheckedIn</h2>
<div id="checkedInContainer"></div>
</div>